@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montagu+Slab:opsz,wght@16..144,100;16..144,200;16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  margin: auto;
  justify-content: center;
  align-items: center;
  
}

ul{
  list-style: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
 
  background: linear-gradient(72deg, #10c443 -30%, #0c3498 100%);
  padding: 10px;
  
}
.container-header-background{
  background-size: cover ;
  background-image: url('https://www.seriemaniac.com/wp-content/uploads/2020/10/rick-morty-juegos-de-mesa.jpeg') ;
  height: 350px;
  width: 100%;
  background-position: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  border-radius: 1rem;
}


.search-bar{
  position: relative;
}

.search-bar input{
  border-radius: 50px;
  height: 2rem;
  border: 0;
  margin-bottom: 5px;
  width: 50rem ;
  background-color: #ffffffc4;
  font-size: 1rem;
  font-weight: 500;
  color: #454545;
  padding-left: 20px;
}
.search-bar button{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  border: none;
  border-radius: 50px;
  width: auto;
  padding: 0 8px;
  background-color: #000000aa;
  color: #ffffff;
}
.search-bar button:hover{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  border: none;
  border-radius: 50px;
  width: auto;
  padding: 0 8px;
  background-color: #00ff22;
  color: #000000;
  font-weight: 600;
}

.container-location-info{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4e4e4e9c;
  color: white;
  border-radius: 1rem;
  padding: 20px;
  font-size: 13px;
  
}
.location-info>h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;

}

.location-info-name{
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.content1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content1>h2{
  font-weight: 400;
  font-size: 1.5rem;
}
.content1>h3{
  font-weight: 400;
  font-size: 1.2rem;
}


.location-info-general{
  display: flex;
  flex-direction: row;
  gap: 5rem ;
}

.container-residentInfo{
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.container-residentInfo h3{
  margin-top: 5rem;
  margin-bottom: -6rem;
  font-size: 4rem;
  font-weight: 300;
}
.card-section{
  margin-top: 5rem ;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

section.card-section > h1{

  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 500;
  font-style: oblique;
}


.card{
  margin-top: 19px;
  background-color: #b4b4b47b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 30rem;
  backdrop-filter: blur(10px);
  
}

.card-name{
  color: #282828;
  font-size: 1.5rem;
  margin-bottom: -40px;
  font-weight: 700;
}
.card-name>b{
  font-size: 1.2rem;
  color: #262626;
  font-weight: 500;
}

.card-status{
  position: relative;
  top: -295px;
  right: 2px;
  max-width: 184px;
  height: 47px;
  border-radius: 20px 10px 10px 0px;
  color: #262626;
  display: flex;
  background-color: #ffffff3a;
  align-items: center;
  backdrop-filter: blur(5px);
}
.card-origin{
  max-width: 308px;
  margin-bottom: 8px;
  color: #282828;
  font-weight: 700;
} 

.card-origin>b{
  font-size: 1.2rem;
  color: #262626;
  font-weight: 500;
}
.card-episode {
  max-width: 308px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #282828;
}
.card-episode>b{
  font-size: 1.2rem;
  color: #262626;
  font-weight: 500;
}


.card-image-container{
  width: 100%
}
.card img{
  border-radius: 15px;
}
.status-icon{
  border-radius: 50%;
  height: 16px;
  margin: 0 0.25rem 0 0;
  width: 16px;
  display: inline-block;
}






.pagination-container ul li a{
  text-decoration: none;
  color:white ;
}
.pagination-container ul li a:hover{
  text-decoration: none;
}
.pagination-container ul li{
  font-size: 20px;
  border: 2px solid #ffffff28;
  padding: 1px 6px;
  border-radius: 3px; 
  margin: 0 -2px;
}

.pagination-container ul li button{
  border: none;
  font-size: 25px;
  background-color: transparent;
  color: rgb(227, 227, 227);
  cursor: pointer;
}
.pagination-container ul li button:hover{
  border: none;
  font-size: 25px;
  background-color: transparent;
  color: #07cd00;
  cursor: pointer;
}

.pagination-container ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 5px;
  border-radius: 1rem;
  
}
.pagination-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #58585800;
  height:max-content;
  backdrop-filter: blur(5px);
  border-radius: .3rem;
  margin-bottom: 5rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader-h1{
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: 500;

}
.loader{
  width: 50%;
  
  border-radius: 50%; 
  margin-top: 60%;
}
.suggestion-bar-container{
  position: relative;
}
.suggestion-bar{
  color: white;
  position: absolute;
  right:520px;
  background-color:#ffffff;
  width: 275px;
  border-radius: 1rem;
  padding: 12px;
  height: 180px;
  overflow-y: auto;
  
  
}
.suggestion-bar li{
  cursor:pointer;
  margin-bottom: 10px;
  color: #000000;
}

.suggestion-bar li:hover{
  color: #066515;
}


.footer{
  display: none;
  flex-direction: column;
  background-color: #00ff22;
  width: 100%;
}






@media screen and (min-width: 600px) {
  .card-section {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  
  }
  .loader{
    width: 60%;
    
    border-radius: 50%; 
    margin-top: 10px;
  }
 
}